<div class="contactPage">
    <h1 class="title">Contact Us / Feedback</h1>
    <div class="middle">
        <div class="left">
            <div class="contForm">
                <h1 class="label">Full Name</h1>
                <div class="bottom">
                    <input class="details " placeholder="Your Name" />
                </div>
            </div>
            <div class="contForm">
                <h1 class="label">Email</h1>
                <div class="bottom">
                    <input class="details " placeholder="Your Email" />
                </div>
            </div>
            <div class="contForm">
                <h1 class="label">Subject </h1>
                <div class="bottom">
                    <input class="details " placeholder="Subject" />
                </div>
            </div>
            <div class="contMForm">
                <h1 class="label">Message </h1>
                <div class="bottom">
                    <textarea class="details " placeholder="Message" ></textarea>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="backimage"></div>
            <div class="image"></div>
        </div>
    </div>
    <div class="end">
        <button class="submit">
            <h1 class="subText">Submit</h1>
        </button>
    </div>
</div>