<div class="aboutPage">
    <h1 class="title">About</h1>
    <h1 class="subTitle">Learn about MWC abuse and what we are about.</h1>
    <img src="./../../../assets/images/about1.png" alt="" class="topImage">
    <h1 class="miniTitle">Our Mission</h1>
    <h1 class="subMiniTitle">We are dedicated to providing a safe platform for reporting and handling abuse cases in Lagos State. Our goal is to make a positive impact on our community by raising awareness, supporting victims, and promoting prevention strategies. Join us in creating a safer Lagos for everyone.</h1>
    <div class="bar"></div>
    <div class="hopeDiv">
        <div class="conDiv">
            <h1 class="conh1">Start <br />
                Reporting <br />
                Abuse Today!</h1>
        </div>
        <img src="./../../../assets/images/about2.png" alt="" class="middleImage">
    </div>
    <h1 class="teamH1">Meet Our <br />
        Team</h1>
    <h1 class="miniteamH1">Get to know the people behind MWC Abuse</h1>
    <div class="teamDiv">
        <div class="top">
            <div class="teamCard">
                <img src="" alt="" class="teamImg">
                <h1 class="teamh">Kabiawu Benedict Oluwatobi</h1>
            </div>
        </div>
        <div class="bottom">
            <div class="teamCard">
                <img src="" alt="" class="teamImg">
                <h1 class="teamh">Anwo Promise</h1>
            </div>
            <div class="teamCard">
                <img src="" alt="" class="teamImg">
                <h1 class="teamh">Ikpe Oyikocho Israel</h1>
            </div>
        </div>
    </div>
    <div class="footerCard">
        <div class="leftSide">
            <div class="content">
                <h1 class="tit">Get Started with <br />
                    MWC Abuse <br />
                    Today</h1>
                <h1 class="miniTit">Start making a difference by reporting abuse cases.</h1>
                <div class="bott">
                    <button class="btn" (click)="navigateToInfoPage()"><h1 class="insideH1">Get Started</h1></button>
                    <button class="btn" (click)="navigateToAdminPage()"><h1 class="insideH1" >Log In</h1></button>
                </div>
            </div>
        </div>
        <div class="rightSide"></div>
    </div>
</div>