<div class="elderAbusePage">
    <div class="tp">
        <button class="btn" (click)="navigateToInfoPage()">
            <i class="fa fa-arrow-left-long"></i>
            <h1>Go Back</h1>
        </button>
    </div>
    <div class="contain"><h1 class="title">Elder <span>Abuse</span></h1>
        <div class="top">
            <div class="up"></div>
            <div class="middle"></div>
            <div class="bot">
                <h1 class="note">Involves harming or exploiting an older person, often in a caregiving or familial relationship. Elder abuse can manifest as physical, emotional, financial, or neglectful mistreatment.</h1>
            </div>
        </div></div>
        
    
    <div class="semiTop">
        <h1 class="reportH1">Report and Prevent Abuse in Lagos State</h1>
        <h1 class="minireportH1">Join us in creating a safer community!</h1>
    </div>
    <div class="middleTop">
        <div class="content">
            <h1 class="headerr">Elder abuse is a distressing and reprehensible form of mistreatment that targets older individuals, often involving physical, emotional, financial, or neglectful harm. Recognizing the dynamics and indicators of elder abuse is crucial for safeguarding the well-being of older adults who may be vulnerable to exploitation and harm.</h1>
            <h1 class="miniHeader">Dynamics of Elder Abuse:</h1>
            <ul class="firstList">
                <li>Physical Abuse:
                    <ul class="innerList">
                        <li>Involves the use of force causing physical harm to an older person, including hitting, slapping, or any form of violence.</li>
                        <li>Perpetrators may include family members, caregivers, or individuals in positions of trust.</li>
                    </ul>
                    </li>
                <li>Emotional/Psychological Abuse:
                        <ul class="innerList">
                            <li>Inflicts emotional distress through constant criticism, humiliation, or manipulation.</li>
                            <li>Can include verbal abuse, threats, or isolation, causing mental anguish for the older adult.</li>
                        </ul>
                </li>
                        <li>Financial Exploitation:
                            <ul class="innerList">
                                <li>Involves the unauthorized use of an older person's financial resources, assets, or property for personal gain.</li>
                                <li>Perpetrators may include family members, caregivers, or individuals with undue influence.</li>
                            </ul>
                            </li>
                            <li>Neglect:
                                <ul class="innerList">
                                    <li>The failure to provide adequate care, attention, or supervision, leading to physical, emotional, or health-related harm.</li>
                                    <li>Neglect can manifest as withholding necessary medications, proper nutrition, or necessary medical attention.</li>
                                </ul>
                                </li>
                           
            </ul>
            <h1 class="miniHeader">Addressing Elder Abuse:</h1>
            <ul class="secondList">
                <li>Reporting to Authorities:
                    <ul class="innerList">
                        <li>Reporting suspected elder abuse to Adult Protective Services or law enforcement is crucial for the safety of the older adult.</li>
                        <li>Legal measures, such as restraining orders or guardianship, may be pursued to protect those at risk.</li>
                    </ul>
                    </li>
                    <li>Medical and Counseling Support:
                        <ul class="innerList">
                            <li>Seeking medical attention after an incident of abuse to address physical injuries and ensure the well-being of the older adult.</li>
                            <li>Counseling and therapy services for both the older adult and their family can aid in healing and recovery.</li>
                        </ul>
                        </li> 
                    <li>Supportive Communities:
                            <ul class="innerList">
                                <li>Establishing supportive communities that prioritize the safety and well-being of older adults.</li>
                                <li>Promoting awareness and education about elder abuse prevention within communities.</li>
                            </ul>
                            </li>
            </ul>
            <h1 class="miniHeader">How to tell if someone is suffering from elder abused</h1>
            <ul class="thirdList">
                <li>Unexplained Injuries:
                    <ul class="innerList">
                        <li>Frequent and unexplained bruises, fractures, or injuries.</li>
                        <li>Injuries inconsistent with the older adult's medical history or explanations that seem vague or inconsistent.</li>
                    </ul>
                </li>
                <li>Behavioral Changes:
                    <ul class="innerList">
                        <li>Sudden changes in behavior, such as withdrawal, anxiety, or signs of depression.</li>
                        <li>Fear or discomfort around specific individuals, particularly caregivers or family members.</li>
                    </ul>
                </li> 
                <li>Financial Irregularities:
                    <ul class="innerList">
                        <li>Unexplained financial transactions or changes in the older adult's financial situation.</li>
                        <li>Missing personal belongings, forged signatures, or unauthorized use of credit cards.</li>
                    </ul>
                </li>
                <li>Neglect Indicators:
                    <ul class="innerList">
                        <li>Poor hygiene, malnutrition, or untreated health conditions.</li>
                        <li>Inadequate living conditions, such as unsafe or unsanitary environments.</li>
                    </ul>
                </li>
                <li>Emotional Distress:
                    <ul class="innerList">
                        <li>Signs of emotional distress, including increased irritability, fear, or expressions of feeling unsafe.</li>
                        <li>Verbal or emotional expressions that indicate feelings of being manipulated or controlled.</li>
                    </ul>
                </li>
                <li>Social Isolation:
                    <ul class="innerList">
                        <li>Isolation from friends, family, or community activities.</li>
                        <li>Restrictive measures by caregivers preventing social interactions.</li>
                    </ul>
                </li>
                <li>Changes in Financial Independence:
                    <ul class="innerList">
                        <li>Loss of financial independence or control over personal finances.</li>
                        <li>A sudden dependency on others for financial decisions.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>