<div class="stalkingPage">
    <div class="tp">
        <button class="btn" (click)="navigateToInfoPage()">
            <i class="fa fa-arrow-left-long"></i>
            <h1>Go Back</h1>
        </button>
    </div>
    <div class="contain"><h1 class="title">Stal<span>king</span></h1>
        <div class="top">
            <div class="up"></div>
            <div class="middle"></div>
            <div class="bot">
                <h1 class="note">Persistent and unwanted attention, harassment, or surveillance directed towards an individual. Stalking can occur in person or through various forms of communication, such as online stalking.</h1>
            </div>
        </div></div>
        
    
    <div class="semiTop">
        <h1 class="reportH1">Report and Prevent Abuse in Lagos State</h1>
        <h1 class="minireportH1">Join us in creating a safer community!</h1>
    </div>
    <div class="middleTop">
        <div class="content">
            <h1 class="headerr">Stalking is a distressing and dangerous form of harassment that involves persistent and unwanted attention, surveillance, or pursuit of an individual. This behavior can instill fear, anxiety, and a sense of helplessness in the victim. Recognizing the dynamics and indicators of stalking is crucial for the safety and well-being of those who may be targeted.</h1>
            <h1 class="miniHeader">Dynamics of Stalking</h1>
            <ul class="firstList">
                <li>Persistent and Unwanted Attention:
                    <ul class="innerList">
                        <li>Stalkers engage in persistent behaviors to monitor, follow, or contact the victim without their consent.</li>
                        <li>This can include repeated phone calls, emails, messages, or physically appearing at the victim's home or workplace.</li>
                    </ul>
                    </li>
                <li>Obsession and Fixation:
                        <ul class="innerList">
                            <li>Stalkers often become fixated on the victim, creating an obsessive and intrusive presence in the victim's life.</li>
                            <li>The obsession may manifest through collecting information, monitoring social media, or unwanted gifts.</li>
                        </ul>
                </li>
                        <li>Intimidation and Control:
                            <ul class="innerList">
                                <li>Stalkers use various tactics to instill fear, exert control, or intimidate the victim.</li>
                                <li>This can include threats, spreading false information, or making the victim feel constantly watched and vulnerable.</li>
                            </ul>
                            </li>
                           
                           
            </ul>
            <h1 class="miniHeader">Addressing Stalking:</h1>
            <ul class="secondList">
                <li>Reporting to Law Enforcement:
                    <ul class="innerList">
                        <li>Victims should report stalking incidents to law enforcement promptly.</li>
                        <li>Keeping a record of all interactions, messages, and incidents can provide valuable evidence for law enforcement.</li>
                    </ul>
                    </li>
                    <li>Restraining Orders:
                        <ul class="innerList">
                            <li>Victims can seek legal protection through restraining orders, which restrict the stalker's proximity to the victim.</li>
                            <li>These orders may include prohibitions on contacting the victim or coming near their residence and workplace.</li>
                        </ul>
                        </li> 
                    <li>Safety Planning:
                            <ul class="innerList">
                                <li>Developing a safety plan, including varying routines, securing living spaces, and informing friends, family, and colleagues about the situation.</li>
                                <li>Utilizing technology to enhance personal safety, such as changing passwords and enabling location-sharing with trusted contacts.</li>
                            </ul>
                            </li>
            </ul>
            <h1 class="miniHeader">How to tell if someone is being stalked</h1>
            <ul class="thirdList">
                <li>Unwanted and Persistent Contact:
                    <ul class="innerList">
                        <li>Receiving repeated phone calls, messages, emails, or letters from an individual without your consent.</li>
                        <li>The stalker may use multiple platforms to contact you, including social media.</li>
                    </ul>
                </li>
                <li>Unexpected Appearances:
                    <ul class="innerList">
                        <li>The stalker showing up unexpectedly at your home, workplace, or social events.</li>
                        <li>Presence in places where you frequent without a legitimate reason.</li>
                    </ul>
                </li> 
                <li>Surveillance and Monitoring:
                    <ul class="innerList">
                        <li>Feeling constantly watched or monitored, even when alone.</li>
                        <li>Discovering signs of unauthorized access to personal information, belongings, or technology.</li>
                    </ul>
                </li>
                <li>Threats and Intimidation:
                    <ul class="innerList">
                        <li>Receiving threats or intimidating messages, either directly or indirectly.</li>
                        <li>The stalker spreading false information about you or making you feel unsafe.</li>
                    </ul>
                </li>
                <li>Unwanted Gifts or Mail:
                    <ul class="innerList">
                        <li>Receiving unsolicited gifts, letters, or packages that may make you uncomfortable.</li>
                        <li>These items are often sent without prior knowledge or consent.</li>
                    </ul>
                </li>
                <li>Online Harassment:
                    <ul class="innerList">
                        <li>Stalking behavior extending to online spaces, including cyberbullying, hacking, or impersonation.</li>
                        <li>Constant monitoring of your online presence, comments, and activities.</li>
                    </ul>
                </li>
                <li>Changes in Daily Routine:
                    <ul class="innerList">
                        <li>Altering your daily routine to avoid encounters with the stalker.</li>
                        <li>Feeling compelled to take unusual precautions for personal safety.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>